@import 'normalize';
@import 'variables/global';

body {
  font-family: var(--font-family-main), cursive;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  color: var(--color-white);
  background-color: var(--color-background);
}

.paddings-content {
  padding: 10px;
}

.content-page {
  padding-top: var(--navbar-height);
}
