@import 'normalize';
@import 'variables/global';

body {
  font-family: var(--font-family-main), serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxs);
  color: var(--color-black);
  background-color: var(--color-white);
}
