@import 'normalize';
@import 'variables/global';

html,body,.paddings-content,#root,.content-page,.motion-div {
  height: 100%;
}

body {
  font-family: var(--font-family-main), cursive;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  color: var(--color-white);
  background-color: var(--color-background);
  overflow-x: hidden;
}

.paddings-content {
  padding: 10px;
}

.content-page {
  padding-top: var(--navbar-height);
}
