@import "../fonts";

:root {
  // Fonts
  --font-family-main: 'Roboto', serif;

  // Fonts weight
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Fonts size
  --font-size-m: 18px;
  --font-line-height-m: 18px;
  --font-xxs: var(--font-size-m) / var(--font-line-height-m) var(--font-family-main);
}
