.gameHeader {
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  height: var(--navbar-height);
  background-color: var(--color-background);
  position: fixed;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.pauseBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  &:active {
    transition: 0.3s;
    transform: scale(0.7);
  }
}
