.input {
  border-radius: 20px;
  border: 2px solid var(--color-accent-third);
  padding: 10px;
}

.primary {
  background-color: var(--color-background-darken);
}

.wrong {
  border-color: var(--color-wrong);
  color: var(--color-wrong);
}

.right {
  border-color: var(--color-right);
  color: var(--color-right);
}
