.statisticsWordItem {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid color-mix(in oklab, var(--color-background) 80%, white);

  &.fade {
    opacity: 0.4;
  }
}

.statisticsValues {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex: 1;
  padding-left: 10px;
}

.statisticsItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.wrong {
  background-color: var(--color-wrong);
}

.right {
  background-color: var(--color-right);
}

.wordInfo  {
  display: flex;
  flex: 2;
  flex-direction: column;

  & > span {
    color: white;
    font-weight: 700;
  }
}
