.imageBlock {
  display: flex;
  justify-content: center;
  background-color: var(--color-accent-secondary);
  padding: 20px;
}

.title {
  font-size: var(--font-size-xl);
  margin-bottom: 10px;
  font-weight: bold;
}

.wordList {
  margin-top: 20px;
}
