.topicListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.imageBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-accent-secondary);
}

.titleBlock {
  color: inherit;
  margin: 0;
}
