.gamePauseMenu {
  position: absolute;
  background-color: var(--color-background);
  height: 70vh;
  box-shadow: rgb(0 0 0 / 24%) 0 -20px 40px;
  width: 100vw;
  transition: 0.3s;
  bottom: -100%;
  padding: 30px;

  &.active {
    bottom: 0;
  }
}

.backdrop {
  top: 0;
  transition: 0.3s;
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: black;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 0.5;
    visibility: visible;
  }
}

.title {
  text-align: center;
  font: var(--font-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 20px;
}

.buttons {
  justify-content: center;
  display: flex;
}

.buttonContainer {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
}
